<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @job.name %>
</p>

<p>
  <b>Date:</b>
  <%= @job.date %>
</p>

<p>
  <b>Pay:</b>
  <%= @job.pay %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Employee requirements:</b>
  <%= @job.employee_requirements %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
